@model ShopBanLaptop2.Models.Account

@{
    ViewBag.Title = "accountInfo";
    Layout = "~/Views/Shared/_secondLayout.cshtml";
}

<h2>Thông tin tài khoản</h2>


<div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">ID: @Model.id</li>
        <li class="list-group-item">Tên: @Model.displayName</li>
        <li class="list-group-item">Loại tài khoản: @Model.type</li>
    </ul>
</div>

@Html.ActionLink("Chỉnh sửa", "edit", new { id = Model.id }) |
@Html.ActionLink("Xem thông tin mua hàng", "getBillsByAccount", new { id = Model.id }) |
<p>

        @Html.ActionLink("Về trang chủ", "search","Product")
 </p>
