@model ShopBanLaptop2.Models.Laptop

@{
    ViewBag.Title = "suaThongTinLaptop";
    Layout = "~/Views/Shared/_secondLayout.cshtml";
}

<h2>suaThongTinLaptop</h2>
@{
    if (ViewBag.success > 0)
    {
        <p style="color:red">sửa thông tin thành công</p>
    }
}


<div class="row">

    <div class="col-4">
        <h4>Laptop</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Image)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IdCategory)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IdCategory)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductCompany)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductCompany)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.monitor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.monitor) inch
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CPU)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CPU)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RAM)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RAM)
            </dd>

        </dl>
    </div>
    <div class="col-8">
        @using (Html.BeginForm("suaThongTinLaptop"))
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Laptop</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <p id="cha" class="btn btn-primary"> chọn ảnh </p>
            <div class="form-group" id="imgSelect">
                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IdCategory, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IdCategory, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IdCategory, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="number" name="Price" class="form-control" value="@Model.Price" />
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProductCompany, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProductCompany, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductCompany, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.monitor, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.monitor, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.monitor, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CPU, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CPU, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPU, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RAM, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RAM, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RAM, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.GPU, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GPU, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GPU, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.HardDisk, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HardDisk, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HardDisk, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Edit" class="btn btn-default" />
                </div>
            </div>
        </div>
        }
    </div>
</div>

<script>
    $('#cha').click(function () {
        $('#imgSelect').empty();
        let str = '@Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })'
            str +=   '<div class="col-md-10">'
            str +=  '<input type="file" name="Image" class="form-control" value="@Model.Image" />'
            str += ' @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })  </div>'
        $('#imgSelect').append(str);
    })
</script>