@model ShopBanLaptop2.Models.Account

@{
    ViewBag.Title = "createAccount";
    Layout = "~/Views/Shared/_secondLayout.cshtml";
}

<div class="wrapper" style="background-color:aqua" style="background: url(/background/hinh1.jpg) no-repeat; background-size:cover">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-6 p-4" style="margin-top:5rem; margin-bottom:5rem">
                @{
                    if (ViewBag.Success != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            Tạo tài khoản thành công. Vui lòng <a href="/login/login">đăng nhập</a> lại!
                        </div>
                    }
                }
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Tạo tài khoản </h4>
                        @{
                            if (ViewBag.kq == 0)
                            {
                                <p style="color:red"></p>
                            }
                            else if (ViewBag.kq == -1)
                            {
                                <p style="color:red">Tạo tài khoản không thành công</p>
                            }
                            else if (ViewBag.kq == -2)
                            {
                                <p style="color:red">Tên đăng nhập đã tồn tại  </p>
                            }
                            
                        }
                        <hr />


                        <div class="form-group">
                            <label class="control-label" for="userName">Tên đăng nhập</label>
                            <div>
                                @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="displayName">Tên hiển thị</label>
                            <div>
                                @Html.EditorFor(model => model.displayName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.displayName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="password">Mật khẩu</label>
                            <div>
                                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="rePassword">Nhập lại mật khẩu</label>
                            <div>
                                @Html.EditorFor(model => model.rePassword, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.rePassword, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Tạo tài khoản" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
