@model ShopBanLaptop2.Models.Account

@{
    ViewBag.Title = "createAccount";
    Layout = "~/Views/Shared/_secondLayout.cshtml";
}

<div class="wrapper" style="background-color:aqua" style="background: url(/background/hinh1.jpg) no-repeat; background-size:cover">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-6 p-4" style="margin-top:5rem; margin-bottom:5rem">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>tạo tài khoản </h4>
                        @{
                            if (ViewBag.kq == 0)
                            {
                                <p style="color:red"></p>
                            }
                            else if (ViewBag.kq == -1)
                            {
                                <p style="color:red">tạo tài khoản không thành công</p>
                            }
                            else if (ViewBag.kq == -2)
                            {
                                <p style="color:red"> tên đăng nhập đã tồn tại  </p>
                            }
                            else
                            {
                                <p style="color:red">tạo tài khoản thành công</p>
                            }
                        }
                        <hr />


                        <div class="form-group">
                            @Html.LabelFor(model => model.userName, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.rePassword, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.rePassword, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.rePassword, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
