@model ShopBanLaptop2.Models.Account

@{
    ViewBag.Title = "accountInfo";
    Layout = "~/Views/Shared/_secondLayout.cshtml";
}

<h2>accountInfo</h2>


<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.displayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.displayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>
    </dl>
</div>

@Html.ActionLink("edit", "edit", new { id = Model.id }) |
@Html.ActionLink("thông tin mua hàng", "getBillsByAccount", new { id = Model.id }) |
@*<p>

        @Html.ActionLink("Back to List", "search","Product")
    </p>*@
